@model IEnumerable<SejaHeroi.Models.Animal.AnimalViewModel>

@{
    ViewBag.Title = "Seja um Heroi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="~/styles/footer.css">
    <link rel="stylesheet" type="stylesheet" href="~/styles/template.css">
    <title>Seja um Herói - Home</title>
</head>

<body>
    <div class="row">

        <div class="col-8">
            <h1>Animais Disponíveis para adoção</h1>
        </div>

    </div>
    <hr>
    <div class="row">
        @foreach (var item in Model)
        {
            if (item.ByteFoto != null)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="card" style="width: 18rem; margin:1%">

                        <div class="content">
                            @{
                                var base64 = Convert.ToBase64String(item.ByteFoto);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            }
                            <img src="@imgSrc" class="card-img-top" style="width:200px; height:200px;" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@item.RacaAnimal</h5>
                            <p class="card-text">@item.Resenha</p>
                            @Html.ActionLink("Mais informações", "Edit", "Animal", new { id = item.AnimalID }, new { @class = "btn btn-primary" })
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.4.1.slim.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>